@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  color-scheme: dark;
}

.app-drag-container {
  app-region: drag;
}

.no-app-container {
  app-region: none;
}

.hwt {
  height: calc(100vh - 40px);
}

.tiptap {
  min-height: 200px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #88888844;
  border-radius: 4px;

  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #88888888;
}
